* {
  margin: 0;
  padding: 0;
}


.banner {
  background-image: url(./images/weeknd.jpg);
  height: 50rem;
  background-size: cover;
  background-position-x: center;
  margin-top: -4rem;
}

@media screen and (max-width: 2560px) {
  .banner {
    height: 76rem;
  }
}

@media screen and (max-width: 1440px) {
  .banner {
    height: 50rem;
  }
}

@media screen and (max-device-width: 425px) {
  .banner {
    height: 92rem;
  }
}



@media screen and (max-width: 2560px) {
  .content {
    padding: 18rem 29rem;
  }
}



.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */

  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 990px) {
  .row {
    width: 99%;
    justify-content: space-evenly;
  }
}

@media screen and (max-device-width: 425px) {
  .row {
    width: 97.5%;
    justify-content: space-around;
  }
}

/* Create four equal columns that sits next to each other */


.column img {
  margin-top: 13px;
  vertical-align: middle;
  width: 100%;
  transition: 0.5s;
}

@media screen and (max-width: 990px) {
  .column img {
    width: 104%;
    margin-top: 8px;
  }
}

.column img:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 2560px) {
  .lap-img {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .lap-img {
    display: unset;
  }
}

@media screen and (max-width: 2560px) {
  .mob-img {
    display: none;
  }
}

@media screen and (max-device-width: 425px) {
  .mob-img {
    display: unset;
  }
}

@media screen and (max-width: 990px) {
  #high-res {
    display: none;
  }
}

@media screen and (max-device-width: 425px) {
  #med-res {
    display: none;
  }
}

.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 24%;
  padding: 0 3px;
}

/* Responsive layout - makes a two column-layout instead of four columns */


@media screen and (max-width: 990px) {
  .column {
    -ms-flex: 50%;
    flex: 58%;
    max-width: 31%;
    margin-left: 0rem;
  }
}

@media screen and (max-device-width: 425px) {
  .column {
    -ms-flex: 50%;
    flex: 60%;
    max-width: 47%;
    margin-left: 0rem;
  }
}


body {
  background-color: black;
}

.footer {
  height: auto;
  color: white;

}
.social-media{
  height: 300px;
  background-color: #000;
  display: grid;
  align-content: center;
  justify-items: center;
}
.footer-title{
  color: red;
  font-size: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.media{
  margin-top: 1rem;
  font-size: 2.8rem;
}
.copyrights{
  height: 85px;
  background-color: #0c0c0c;
  color: white;
  font-size: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}
@media screen and (max-width: 2560px) {

}

@media screen and (max-width: 1440px) {
 
}

@media screen and (max-device-width: 425px) {
  
}
.media a{
  color: #fff;
  margin-right: 1rem;
}
.copyrights a{
  color: #fff;
}

.footer a:hover {
  text-decoration: underline;
  color: #fff;
}

.music-player {
  width: 100%;
  background: black;
  opacity: 0.9;
  height: 22.2rem;
  display: flex;
  margin-top: -22rem;
}

.music-player .image {
  padding: 44px;
    margin-left: 3rem;

}

.music-player .image img {
  width: 16rem;
  border-radius: 36px;
}

.track {
  padding: 44px 0px;
  width: 35rem;
}
.track .title {
  font-family: 'Poppins', sans-serif;
  font-size: 60px;
  color: azure;
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 13px;
    background: #8500ff;
  -webkit-transition: .2s;
  transition: opacity .2s;
  transition: 0.4s all ease-out;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid #3774ff;
  cursor: pointer;
  border-radius: 100%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1.0;
}

.seek_slider {
  width: 71%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
  color: azure;
  font-size: 27px
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
  padding: 10px;
  color: azure;
  font-size: 35px;
}



.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
  color: azure;
  font-size: 1.3rem;
  justify-content: center;
}

i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

.randomActive {
  color: black;
}

.rotate {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.loader {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader .stroke {
  background: #f1f1f1;
  height: 150%;
  width: 10px;
  border-radius: 50px;
  margin: 0px 5px;
  animation: animate 1.4s linear infinite;
}

@keyframes animate {
  50% {
    height: 20%;
    background: #4286f4;
  }

  100% {
    height: 100%;
  }
}

.prev-track, .next-track, .playpause-track {
  margin-right: 2rem;
}