* {
  margin: 0;
  padding: 0;
}


.banner {
  background-image: url(./images/weeknd.jpg);
  height: 50rem;
  background-size: cover;
  background-position-x: center;
  margin-top: -4rem;
}

@media screen and (max-width: 2560px) {
  .banner {
    height: 58rem;
  }
}

@media screen and (max-width: 1440px) {
  .banner {
    height: 50rem;
  }
}

@media screen and (max-device-width: 425px) {
  .banner {
    height: 92rem;
  }
}



@media screen and (max-width: 2560px) {
  .content {
    padding: 18rem 29rem;
  }
}



.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */

  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 990px) {
  .row {
    width: 99%;
    justify-content: space-evenly;
  }
}

@media screen and (max-device-width: 425px) {
  .row {
    width: 97.5%;
    justify-content: space-around;
  }
}

/* Create four equal columns that sits next to each other */


.column img {
  margin-top: 13px;
  vertical-align: middle;
  width: 100%;
  transition: 0.5s;
}

@media screen and (max-width: 990px) {
  .column img {
    width: 104%;
    margin-top: 8px;
  }
}

.column img:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 2560px) {
  .lap-img {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .lap-img {
    display: unset;
  }
}

@media screen and (max-width: 2560px) {
  .mob-img {
    display: none;
  }
}

@media screen and (max-device-width: 425px) {
  .mob-img {
    display: unset;
  }
}

@media screen and (max-width: 990px) {
  #high-res {
    display: none;
  }
}

@media screen and (max-device-width: 425px) {
  #med-res {
    display: none;
  }
}

.column {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
  max-width: 24%;
  padding: 0 3px;
}

/* Responsive layout - makes a two column-layout instead of four columns */


@media screen and (max-width: 990px) {
  .column {
    -ms-flex: 50%;
    flex: 58%;
    max-width: 31%;
    margin-left: 0rem;
  }
}

@media screen and (max-device-width: 425px) {
  .column {
    -ms-flex: 50%;
    flex: 60%;
    max-width: 47%;
    margin-left: 0rem;
  }
}


body {
  background-color: black;
}

.footer {
  height: auto;
  color: white;

}


@media screen and (max-device-width: 2560px) {
  .social-media {
    height: 250px;
    background-color: #000;
    display: grid;
    align-content: center;
    justify-items: center;
  }
}

@media screen and (max-device-width: 1440px) {
  .social-media {
    height: 210px;
    background-color: #000;
    display: grid;
    align-content: center;
    justify-items: center;
  }
}

@media screen and (max-device-width: 768px) {
  .social-media {
    height: 210px;
    background-color: #000;
    display: grid;
    align-content: center;
    justify-items: center;
  }
}

@media screen and (max-device-width: 425px) {
  .social-media {
    height: 300px;
    background-color: #000;
    display: grid;
    align-content: center;
    justify-items: center;
  }
}

@media screen and (max-device-width: 2560px) {
  .footer-title {
    font-size: 29px;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (max-device-width: 1440px) {
  .footer-title {
    font-size: 35px;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (max-device-width: 768px) {
  .footer-title {
    font-size: 40px;
    color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (max-device-width: 425px) {
  .footer-title {
    color: red;
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (max-device-width: 2560px) {
  .media {
    margin-top: 1rem;
    font-size: 2rem;
  }
}

@media screen and (max-device-width: 1440px) {
  .media {
    margin-top: 1rem;
    font-size: 2.1rem;
  }
}

@media screen and (max-device-width: 768px) {
  .media {
    margin-top: 1rem;
    font-size: 2.3rem;
  }
}

@media screen and (max-device-width: 425px) {
  .media {
    margin-top: 1rem;
    font-size: 2.8rem;
  }
}


@media screen and (max-device-width: 2560px) {
  .copyrights {
    height: 85px;
    background-color: #0c0c0c;
    color: white;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
  }
}

@media screen and (max-device-width: 1440px) {
  .copyrights {
    height: 85px;
    background-color: #0c0c0c;
    color: white;
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
  }
}

@media screen and (max-device-width: 768px) {
  .copyrights {
    height: 85px;
    background-color: #0c0c0c;
    color: white;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
  }
}

@media screen and (max-device-width: 425px) {
  .copyrights {
    height: 85px;
    background-color: #0c0c0c;
    color: white;
    font-size: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
  }
}



.media a {
  color: #fff;
  margin-right: 1rem;
}

.copyrights a {
  color: #fff;
}

.footer a:hover {
  text-decoration: underline;
  color: #fff;
}


@media screen and (max-device-width: 2560px) {
  .music-player {
    width: 100%;
    background: black;
    opacity: 0.9;
    height: 17.2rem;
    display: flex;
    margin-top: -17rem;
    justify-content: center;
  }
}

@media screen and (max-device-width: 1440px) {
  .music-player {
    width: 100%;
    background: black;
    opacity: 0.9;
    height: 15.2rem;
    display: flex;
    margin-top: -15rem;
    justify-content: center;
  }
}

@media screen and (max-device-width: 1024px) {
  .music-player {
    width: 100%;
    background: black;
    opacity: 0.9;
    height: 15.2rem;
    display: flex;
    margin-top: -15rem;
    justify-content: space-evenly;
  }
}

@media screen and (max-device-width: 425px) {
  .music-player {
    width: 100%;
    background: black;
    opacity: 0.9;
    height: 22.2rem;
    display: flex;
    margin-top: -22rem;
  }
}


@media screen and (max-device-width: 2560px) {
  .music-player .image img {
    width: 13rem;
    border-radius: 57px;
    padding: 27px;
    margin-left: 0rem;
  }
}

@media screen and (max-device-width: 1440px) {
  .music-player .image img {
    width: 13rem;
    border-radius: 57px;
    padding: 24px;
    margin-left: 0rem;
  }
}

@media screen and (max-device-width: 425px) {
  .music-player .image img {
    width: 16rem;
    border-radius: 85px;
    padding: 44px;
    margin-left: 3rem;
  }

}


@media screen and (max-device-width: 2560px) {
  .track {
    padding: 10px 0px;
    width: 50rem;
  }
}

@media screen and (max-device-width: 1440px) {
  .track {
    padding: 10px 0px;
    width: 35rem;
  }
}

@media screen and (max-device-width: 425px) {
  .track {
    padding: 44px 0px;
    width: 35rem;
  }
}


@media screen and (max-device-width: 2560px) {
  .track .title {
    font-family: 'Poppins', sans-serif;
    font-size: 56px;
    color: azure;
  }
}
  @media screen and (max-device-width: 1440px) {
    .track .title {
      font-family: 'Poppins', sans-serif;
      font-size: 53px;
      color: azure;
    }
  }

  @media screen and (max-device-width: 425px) {
    .track .title {
      font-family: 'Poppins', sans-serif;
      font-size: 60px;
      color: azure;
    }

  }

  @media screen and (max-device-width: 2560px) {
    .slider_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -0.8rem;
    }
  }

  @media screen and (max-device-width: 1440px) {
    .slider_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -0.8rem;
    }
  }

  @media screen and (max-device-width: 425px) {
    .slider_container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -0.8rem;
    }
  }


  @media screen and (max-device-width: 2560px) {

    .seek_slider,
    .volume_slider {
      height: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 13px;
      background: #8500ff;
      -webkit-transition: .2s;
      transition: opacity .2s;
      transition: 0.4s all ease-out;
    }
  }

  @media screen and (max-device-width: 1440px) {

    .seek_slider,
    .volume_slider {
      height: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 10px;
      background: #8500ff;
      -webkit-transition: .2s;
      transition: opacity .2s;
      transition: 0.4s all ease-out;
    }
  }

  @media screen and (max-device-width: 425px) {

    .seek_slider,
    .volume_slider {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: 13px;
      background: #8500ff;
      -webkit-transition: .2s;
      transition: opacity .2s;
      transition: 0.4s all ease-out;
    }
  }

  .seek_slider::-webkit-slider-thumb,
  .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: white;
    border: 3px solid #3774ff;
    transition: 0.4s all ease-out;
    cursor: pointer;
    border-radius: 100%;
  }

  .seek_slider:hover,
  .volume_slider:hover {
    opacity: 1.0;
  }

  .seek_slider {
    width: 71%;
  }

  .volume_slider {
    width: 30%;
  }

  .current-time,
  .total-duration {
    padding: 10px;
    color: azure;
    font-size: 27px
  }

  i.fa-volume-down,
  i.fa-volume-up {
    padding: 10px;
    padding: 10px;
    color: azure;
    font-size: 35px;
  }

  @media screen and (max-device-width: 2560px) {
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      color: azure;
      font-size: 1.5rem;
      justify-content: center;
    }
  }

  @media screen and (max-device-width: 1440px) {
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      margin-top: -14px;
      color: azure;
      font-size: 1rem;
      justify-content: center;
    }
  }

  @media screen and (max-device-width: 425px) {
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 30px;
      color: azure;
      font-size: 1.3rem;
      justify-content: center;
    }
  }

  i,
  i.fa-play-circle,
  i.fa-pause-circle{
    font-size: 4rem;
    cursor: pointer;
  }
  i.fa-step-forward,
  i.fa-step-backward {
    font-size: 2rem;
    cursor: pointer;
  }

  .randomActive {
    color: black;
  }

  .rotate {
    animation: rotation 8s infinite linear;
  }

  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(359deg);
    }
  }

  .loader {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader .stroke {
    background: #f1f1f1;
    height: 150%;
    width: 10px;
    border-radius: 50px;
    margin: 0px 5px;
    animation: animate 1.4s linear infinite;
  }

  @keyframes animate {
    50% {
      height: 20%;
      background: #4286f4;
    }

    100% {
      height: 100%;
    }
  }

  .prev-track,
  .next-track,
  .playpause-track {
    margin-right: 2rem;
  }